body{
    background: rgb(58, 236, 227);
}
.letras{
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.botn{
    font-size: 30px;
    border-radius: 8px;

}
